<!DOCTYPE html>
<html>

{{> header.handlebars}}
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<br><br>
<div class="container">
    <div class="row">
        <div class="col-sm">
                <h4>User information</h4>
            <div>
                <br><br>
                <div class="card-text-center" style="width: 20rem">
                    <div class="card-header">
                    <p class="font-weight-bold" align="center">Welcome, you have logged in as</p>
                    </div>
                    <ul class="list-group list-group-flush">
<!--                        <li class="list-group-item" > {{user.firstname}} {{user.lastname}}</li>-->
                        <li class="list-group-item"> Username:   {{user.username}}</li>
                    </ul>
                    <br><br>
                    <a href="/" type="submit" class="btn btn-secondary">Sign Out</a>

                </div>

            </div>
        </div>


        <div class="col-sm">
            <form method="post" action="/waiters/{{user.username}}/confirm" >
                <h4>Day Select</h4>
                <br><br>
                <label> Choose ONLY 3 days to work this week:</label>
                <br><br>

                {{#each dayList}}
                <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Sunday" id="{{day_name}}" name="{{day_name}}" onclick="return shiftDaySelection();">
                <label class="form-check-label" for="{{day_name}}">
                    {{day_name}}
                </label>
            </div>
                    {{/each}}

            <br>
            <button type="submit" value="Sumbit" class="btn btn-secondary">Confirm</button>
        </form>
        </div>


        <div class="col-sm">
            <form method="post" action="/waiters/:username">
                <div>
                    <div class="col-md-6 col-sm-12">
                        <h4>The days you are working:</h4>

                        <div class="row">
<!--                            <div class="col-sm-6">-->
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title"> You are working on: </h5>
                                        <br>
                                        {{#each userDayList}}
                                            {{#each listOfDays}}
                                        <p class="card-text">{{day_name}}</p>
                                            {{/each}}
                                        {{/each}}
                                        <a href="/waiters/:username" type="submit" class="btn btn-secondary">Update</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
            </form>
        </div>
    </div>
</div>

<script>
function shiftDaySelection()
{
    var checkboxes = document.getElementsByName("day_name");
    var numberOfCheckedItems = 0;
    for(var i = 0; i < checkboxes.length; i++)
    {
        if(checkboxes[i].checked)
            numberOfCheckedItems++;
    }
    if(numberOfCheckedItems > 3)
    {
        alert("You can't select more than three working days!");
        return false;
    }
}
</script>

</body>
</html>