<!DOCTYPE html>
<html>

{{> header.handlebars}}
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<style>
    input[type=text]:disabled {
  background: #dddddd;
}

.ui-progressbar-value { background: lightgreen; }
.progressbar-container {
  position: relative;
  width: 350px;
}

.progressbar-bar {
  height: 25px;
margin: 10px 0;
border-radius: 7px;
}

.progressbar-label {
  position: absolute;
  top: 2px;
  left: 45%;
  z-index: 2;
}
</style>

<body>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>

<br><br>
<div class="container">
    <div class="row">
        <div class="col-sm" align="center">
           <h4 align="center"> <i style='font-size:32px' class='fas'>&#xf2bd;</i>  User information</h4>
            <div>
                <br><br>
                <div class="card-text-center" style="width: 20rem">
                    <div class="card-header">
                    <p class="font-weight-bold" align="center">Welcome, you have logged in as</p>
                    </div>
                    <ul class="list-group list-group-flush">
<!--                        <li class="list-group-item" > {{user.firstname}} {{user.lastname}}</li>-->
                        <br>
                        <h4 align="center">
                            {{user.username}}</h4>
                    </ul>
                    <br><br>
                    <a href="/" type="submit" class="btn btn-secondary">Sign Out</a>

                </div>

            </div>
        </div>


        <div class="col-sm">
            <form method="post" action="/waiters/{{user.username}}/confirm" >
                <h4 align="center"> <i style='font-size:32px' class='far'>&#xf133;</i> Day Select</h4>
                <br><br>
                <p align="center"><label> Choose ONLY 3 days to work this week:</label></p>
                <br><br>
                {{message}}

                {{#each newDays}}
                <div class="form-check">

                <input class="form-check-input" type="checkbox" value="{{dayName}}" id="checkbox" name="{{dayName}}"
                     {{selected}} >
                <label class="form-check-label" for="{{dayName}}">
                    {{dayName}}
                </label>
            </div>
                {{/each}}

            <br>
            <p align="center"><button type="submit" value="Sumbit" class="btn btn-secondary">Confirm Shift</button></p>
        </form>

            <p align="center"> <a href="/waiters/{{user.username}}/update"><button type="submit" class="btn btn-secondary">Update Shift</button></a></p>

        </div>


        <div class="col-sm" align="center">
                <div>
                    <div class="col-md-6 col-sm-12">
                        <h4 align="center"><i style='font-size:32px' class='fas'>&#xf274;</i>
                            Shift Lock</h4>
                        {{message}}
                        <div class="row">
<!--                            <div class="col-sm-6">-->
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title" align="center"> Shifts locked for:</h5>
                                        <br>
                                        {{#each userDayList}}
                                            {{#each listOfDays}}
                                        <p id="display" class="card-text">{{dayName}}</p>
                                                <div class="progressbar-container">
                                                    <div class="progressbar-bar"></div>
                                                    <div class="progressbar-label"></div>
                                                </div>
                                            {{/each}}
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
              </div>
      </div>
</div>

<!--<SCRIPT LANGUAGE="JavaScript">-->

<!--function Check(chk)-->
<!--{-->
<!--if(document.form-check.checked==true){-->
<!--for (i = 0; i < chk.length; i++)-->
<!--chk[i].checked = true ;-->
<!--}else{-->

<!--for (i = 0; i < chk.length; i++)-->
<!--chk[i].checked = false ;-->
<!--}-->
<!--}-->

<!--</script>-->

<script src="public/js/function.js"></script>


</body>
</html>